.robot-container {
    height: 100vh;
    width: 100vw;  
    
    background-image: url(https://picsum.photos/200/300/?blur=2);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
  

    position: relative;

}

.robot-face-shape {
    width: 300px;
    height: 300px;
    margin: 200px auto;
    border-radius: 10%;
    border: 10px dotted; 
    position:relative;
    background-color: #C4E0E5;
}

.robot-eye-left {
    width: 50px;
    height: 65px;
    background-color: tomato;
    margin:18%;
    border-radius: 20%; 
}

.robot-eye-right {
    width:60px;
    height:30px;
    border-radius: 50%;
    
    background-image: url(https://picsum.photos/seed/picsum/200/300);
    
    
    position: absolute;
    top: 30%;
    left: 65%;
    

}

.robot-ear-left {

      width: 0px;
      height: 0px;
      border-right: 30px solid transparent;
      border-top: 30px solid rgb(255, 0, 144);
      border-left: 30px solid transparent;
      border-bottom: 30px solid red;
      border-top-left-radius: 60px;
      border-top-right-radius: 60px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
  

      position: absolute;
      bottom:50%;
      right: 35%;
  
}


.robot-ear-right {

      width: 0px;
      height: 0px;
      border-right: 30px solid transparent;
      border-top: 30px solid red;
      border-left: 30px solid transparent;
      border-bottom: 30px solid rgb(255, 166, 0);
      border-top-left-radius: 60px;
      border-top-right-radius: 60px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
    
  
  position: absolute;
  bottom: 50%;
  left:35%;
}


.robot-nose {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);

  width: 30px;   
  height: 30px;  
  background: orange;


}
   

.robot-teeth {
  width: 180px;
  height: 40px;
  display: flex;
  background-color: rgb(222, 181, 181);
  border: 3px solid #d00a0a;
  border-radius: 50%/ 30% ; 
  overflow: hidden;

  position: absolute;
  top: 200px; 
  left: 50%;
  transform: translateX(-50%);
}

.robot-tooth {
  width: 15px;
  height: 25px;
  background-color: bisque;
  border: 1px solid black;
  border-radius: 3px;
}


.robot-hair-style {
  width: 300px;
  height: 100px;

  position: absolute;
  bottom:68%;
  left: 50%;
  transform: translateX(-50%);

  dispLay: flex;
  justify-content:space-between;
  align-items: flex-end;


}

.robot-hair-one {
  width: 50px;
  height: 60%;
  background-color: #a78a70;
  
}

.robot-hair-two {
  width:50px;
  height: 80%;
  background-color: #3ea756;
  /* how can I change the transparency of this element */
}

.robot-hair-three {
  width: 50px;
  height: 100%;
  background-image: url(https://picsum.photos/id/870/200/300?grayscale&blur=2);
  background-size: cover;
  background-position: center;

}